.container {
     margin: 0;
    background-color:white;
    /*#ffebcd;*/
    /*black;*/
    color: grey;
}

body {
    display: block;
    margin: 8px;
    /*background-color: #fffbf4;*/
}
.main-container {
    display: flex;
}
.container1 {
    display: flex;
    width: 45%;
    margin-left: 10%;
    flex-flow: column wrap;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}
.container1-child {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 5em;
    padding-right: 2em;
    border-bottom: 2px solid black;
    margin: 2em 2em 0px;
}

.container2-child {
    display: inline-block;
    width: 80%;
    margin-left: 3em;
    padding-left: 3em;
    font-size: 20px;
}

.container-display {
    display: flex;
    width: 45%;
    margin-left: 10%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}

nav {
    font-size: 1.5em;
    margin: 10px;
    decoration:none; 
}

.header-display {
    display: grid;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    background-color: #ffebcd;
    /*#483d8b;*/
    color:#483d8b;
    height: 100px;
}

.heeder-items{
   grid-area: 1 / 2 / span 1 / span 3;
}

input[type="text"] {
    display: inline-block;
    /*background-color: whi;*/
    color: white;
    box-sizing: border-box;
    width: 55%;
    font-size: 20px;
    margin-bottom: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    border-radius: 4px;
}
